.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #eee;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.deleteTask{
    width: 100px;
    border-radius: 5px;
    background-color: #ed1b1b;
}
.deleteTask:hover{
    background-color: #ca1d1d;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

li:last-child {
    border-bottom: none;
}

.completed{
    text-decoration: line-through;
}

